# Ignore python cache files
__pycache__/

# Ignore the logs directory
logs/

# Ignore the datasets directory
datasets/

# Ignore the models directory
models/

# Ignore rendered frames directory
rendered_frames/

# Ignore model graveyard
graveyard/

# Ignore experiments markdown file
experiments.md

# Ignore aux_scripts directory
aux_scripts/
